<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>主页</title>
	<link href="/static/css/jqueryui.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/vjpublic.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/vjpage.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/config.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/static/css/app/index.css", type="text/css">
	<script type="text/javascript" src="/static/js/public.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/app/index.js"></script>
</head>
<body data-curpagename="page2" class="body_style1">
<div id="page2_jPanel1" class="Panel Panel_Null">
	<a href="/" target="_self"><div id="page2_jImages1" class="Timage Timage_style1 Timage_auto"><img src="/static/images/logo.png" alt="/static/images/logo.png" title=""/></div>
	<map name="page2_jImages1_map" id="page2_jImages1_map">
	</map></a>
	<div id="page2_jLabel1" class="text">商品信息追溯系统</div>
	<div id="page2_jImages2" class="Timage Timage_style1 Timage_auto"><img src="/static/images/INDEX副本.png" alt="images/INDEX副本.png" title=""/></div>
	<map name="page2_jImages2_map" id="page2_jImages2_map">
	</map>
	<div id="page2_jLabel2" class="text">Product information tracealility system</div>
	<div id="page2_jLabel4" class="text">厂家-质检员-顾客质量监管体系</div>
	<div id="page2_jMutiText1" class="text">&nbsp;&nbsp;&nbsp;&nbsp;商品的质量安全问题与消费者权益息息相关，也关系着现代化溯源系统行业的发展。建立商品信息追溯系统是保障商品质量安全的有效措施之一。<br><br>&nbsp;&nbsp;&nbsp;对于消费者，他们希望商品安全可靠，信息更透明，旧的纸质方式承载信息量少，沟通不便，消费者希望通过电脑或智能手机点开网页，就能有效查看商品信息，甚至与商家直接沟通，减少信息不对称性。互联网使操作更简单、方便、快捷。极大程度上帮助消费者规避劣质产品、过期产品等不良产品；<br><br>&nbsp;&nbsp;&nbsp;&nbsp;监管部门也可以查看商品质量追溯信息，使质量监督大众化、管理透明化。<br></div>
</div>


<div id="page2_jPanel2" class="Panel Panel_Null">

	<div id="show-product">
	<!--<a href="" class="a-tag">-->
		<!--<div class="product-div">-->
			<!--<div class="image-div">-->
				<!--<img src="" alt="" onerror="this.src='/static/images/logo.png';this.onerror=null"/>-->
			<!--</div>-->
			<!--<div class="title-div">123</div>-->
			<!--<div class="sub-div">测试数据</div>-->
		<!--</div>-->
	<!--</a>-->
	</div>
	<!--没有商品信息是显示-->
	<div id="no-product">暂时没有产品信息哦</div>

	<!--搜索框-->
	<input type="text" class="Edit Edit_style1" value="" id="page2_jEdit1"/>
	<div id="page2_jButton1" class="vjbutton vjbutton_c_style1 border_radius_3">
		<div class="vjbutton_txtR">
			<span class="btniconcum1">
				<img src="/static/images/jzoom.png" width="16" height="16"/>
			</span>
			<span class="btniconcum2">
				<img src="/static/images/jzoom.png" width="16" height="16"/>
			</span>
			<span class="btntxt">
			</span>
		</div>
	</div>
</div>

<div id="page2_jPanel3" class="Panel Panel_Null">
	<div id="page2_jLabel3" class="text">
		<a href="/user/login/" target="_self">请登录</a>
	</div>
</div>
<div id="logout-div">
	你好，<span></span>&nbsp;
	<a href="/user/logout/" target="_self">注销</a>
</div>

</body>
<script type="text/javascript" src="/static/js/Timage.js"></script>
</html>
