<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>details</title>
	<link href="/static/css/jqueryui.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/vjpublic.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/vjpage.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/config.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/static/css/app/product_info.css">
	<script type="text/javascript" src="/static/js/public.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script src="/static/js/app/product_info.js"></script>
</head>
<body data-curpagename="page1" class="body_style1">
<div id="page1_jPanel4" class="Panel Panel_Null">
	<div id="page1_jLabel9" class="text">商品信息追溯详情</div>
	<div id="page1_jImages1" class="Timage Timage_style1 Timage_auto">
		<img src="" alt="商品图片" onerror="this.src='/static/images/logo.png';this.onerror=null" title=""/>
	</div>
	<map name="page1_jImages1_map" id="page1_jImages1_map">
	</map>
	<div id="page1_jLabel1" class="text">商品信息</div>
	<div id="page1_jLabel2" class="text">(【商品名称】加载中...)</div>
	<div id="page1_jLabel3" class="text">(【商品描述】加载中...)</div>
	<div id="page1_jLabel6" class="text">商品批次：(加载中...)</div>
	<div id="page1_jLabel7" class="text">追溯信息</div>
	<div id="page1_jImages2" class="Timage Timage_style1 Timage_auto">
		<img src="/static/images/renIcon.png" alt="images/renIcon.png" title=""/>
	</div>
	<map name="page1_jImages2_map" id="page1_jImages2_map">
	</map>
	<!--<div id="page1_jLabel10" class="text">质检员</div>-->
	<div id="page1_jLabel8" class="text">(加载中...)</div>
	<div id="page1_jImages4" class="Timage Timage_style1 Timage_auto">
		<img src="/static/images/calIcon.png" alt="images/calIcon.png" title=""/>
	</div>
	<map name="page1_jImages4_map" id="page1_jImages4_map">
	</map>
	<div id="page1_jLabel11" class="text">(时间加载中...)</div>
	<div id="page1_jLabel12" class="text">(质检信息加载中...)</div></div>

<div id="page1_jPanel3" class="Panel Panel_Null">
	<a href="/" target="_self">
		<div id="page1_jImages3" class="Timage Timage_style1 Timage_auto">
			<img src="/static/images/logo.png" alt="images/logo.png" title=""/>
		</div>
		<map name="page1_jImages3_map" id="page1_jImages3_map">
		</map>
	</a>

	<div id="page1_jLabel4" class="text">商品信息追溯系统</div>
	<div id="page1_jLabel5" class="text">Product information tracealility system</div>

	<div id="page1_jPanel1" class="Panel Panel_Null">
		<div id="page1_jLabel13" class="text">
			<a href="/user/login/" target="_self">请登录</a>
		</div>
	</div>
	<div id="logout-div">
		你好，<span></span>&nbsp;
		<a href="/user/logout/" target="_self">注销</a>
	</div>
</div>

</body>
<script type="text/javascript" src="/static/js/Timage.js"></script>
</html>
