<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>商品管理</title>
	<link href="/static/css/jqueryui.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/vjpublic.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/vjpage.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/config.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/static/css/app/product_manage.css">
	<script type="text/javascript" src="/static/js/public.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script src="/static/js/app/product_manage.js"></script>
</head>
<body data-curpagename="page11" class="body_style1">


<div id="page11_jPanel4" class="Panel Panel_Null">
	<div id="page11_jLabel3" class="text">
		<a href="/product/productadd/" target="_self">＋新增商品</a>
	</div>

	<table class="table_style1 tablebox" id="product_table" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td align="center" width="100"></td>
			<td align="center" width="72" height="42">商品ID</td>
			<td align="center" width="147">名称</td>
			<td align="center" width="79">批次</td>
			<td align="center" width="205">描述</td>
			<td align="center" width="42">质检员</td>
			<td align="center" width="130">商品状态</td>
			<td align="center" width="83">修改商品信息</td>
			<td align="center" width="77">删除该商品</td>
		</tr>
		<!--<tr>-->
			<!--<td align="center" height="43">101</td>-->
			<!--<td align="center">依云（evian）  </td>-->
			<!--<td align="center">101001</td>-->
			<!--<td align="center"> 天然矿泉水喷雾      补水、爽肤水</td>-->
			<!--<td align="center">张三</td>-->
			<!--<td align="center">合格，允许出厂！</td>-->
			<!--<td align="center"><a href="">修改</a></td>-->
			<!--<td align="center"><a href="">删除</a></td>-->
		<!--</tr>-->

	</table>
</div>


<div id="page11_jPanel1" class="Panel Panel_Null">
	<div id="page11_jImages7" class="Timage Timage_style1 Timage_auto">
		<img src="/static/images/76ec2779d016219483a24c57a2fa78adf81d7a0d1042bb-MvnSsL_fw658.png" alt="images/76ec2779d016219483a24c57a2fa78adf81d7a0d1042bb-MvnSsL_fw658.png" title=""/>
	</div>
	<map name="page11_jImages7_map" id="page11_jImages7_map">
	</map>
	<div id="page11_jLabel1" class="text">管理商品信息</div>
	<div id="page11_jMutiText1" class="text">&nbsp;&nbsp;&nbsp;快速管理商品信息，可新增、删除商品，也可对商品信息ID、批次、名称、描述、图片以及相关质检员进行修改、搜索，极大的方便了管理。</div>
</div>

<div id="page11_jPanel3" class="Panel Panel_Null">
	<a href="/" target="_self">
		<div id="page11_jImages3" class="Timage Timage_style1 Timage_auto">
			<img src="/static/images/logo.png" alt="images/logo.png" title=""/>
		</div>
		<map name="page11_jImages3_map" id="page11_jImages3_map">
		</map>
	</a>
	<div id="page11_jPanel5" class="Panel Panel_Null border_radius_5">
		<div id="page11_jLabel7" class="text">
			<a href="/product/manage/" target="_self">商品管理</a>
		</div>
	</div>
	<div id="page11_jPanel2" class="Panel Panel_Null">
		<a href="/user/logout/">
			<div id="page11_jLabel2" class="text">退出登录</div>
		</a>
	</div>
	<div id="page11_jLabel4" class="text">商品信息追溯系统</div>
	<div id="page11_jPanel7" class="Panel Panel_Null">
		<div id="page11_jLabel9" class="text">
			<a href="/user/manage/" target="_self">质检员管理</a>
		</div>
	</div>
	<div id="page11_jLabel5" class="text">Product information tracealility system</div>
</div>

<!--搜索框-->
<input type="text" class="Edit Edit_style1" value="" id="page11_jEdit1"/>
<div id="page11_jButton1" class="vjbutton vjbutton_c_style1 border_radius_3" >
	<div class="vjbutton_txtR">
		<span class="btniconcum1">
			<img src="/static/images/jzoom.png" width="16" height="16"/>
		</span>
		<span class="btniconcum2">
			<img src="/static/images/jzoom.png" width="16" height="16"/>
		</span>
		<span class="btntxt"></span>
	</div>
</div>

</body>
<script type="text/javascript" src="/static/js/Timage.js"></script>
</html>
