<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>修改</title>
	<link href="/static/css/jqueryui.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/vjpublic.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/vjpage.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/config.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/static/css/app/product_modify.css">
	<script type="text/javascript" src="/static/js/public.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script src="/static/js/app/product_modify.js"></script>
</head>
<body data-curpagename="page13" class="body_style1">
<div id="page13_jPanel1" class="Panel Panel_Null">
	<div id="page13_jImages1" class="Timage Timage_style1 Timage_auto">
		<img src="/static/images/76ec2779d016219483a24c57a2fa78adf81d7a0d1042bb-MvnSsL_fw658.png" alt="images/76ec2779d016219483a24c57a2fa78adf81d7a0d1042bb-MvnSsL_fw658.png" title=""/>
	</div>
	<map name="page13_jImages1_map" id="page13_jImages1_map">
	</map>
	<div id="page13_jLabel1" class="text">管理商品信息</div>
	<div id="page13_jMutiText1" class="text">&nbsp;&nbsp;&nbsp;快速管理商品信息，可新增、删除商品，也可对商品信息ID、批次、名称、描述、图片以及相关质检员进行修改、搜索，极大的方便了管理。</div>
</div>

<div id="page13_jPanel4" class="Panel Panel_Null">
	<div id="page13_jLabel3" class="text">修改商品信息</div>
	<div id="page13_jLabel6" class="text">ID</div>
	<input name="product_id" type="text" class="Edit Edit_style1" value="" id="page13_jEdit1"/>
	<div id="page13_jLabel14" class="text">名称</div>
	<input name="name" type="text" class="Edit Edit_style1" value="" id="page13_jEdit7"/>
	<div id="page13_jLabel15" class="text">批次</div>
	<input name="batch_id" type="text" class="Edit Edit_style1" value="" id="page13_jEdit6"/>
	<div id="page13_jLabel17" class="text">描述</div>
	<input name="desc" type="text" class="Edit Edit_style1" value="" id="page13_jEdit8"/>
	<div id="page13_jComboBox1">
		<select name="inspector_id" size="1" id="page13_jComboBox1_select" style="width:inherit">
			<option value="0" selected="selected" id="page13_jComboBox1_option1">未分配质检员...</option>
			<!--<option value="" id="page13_jComboBox1_option2">张三</option>-->
		</select>
	</div>
	<div id="page13_jLabel18" class="text">选择图片...<input type="file" id='upload' name="product_image"></div>
	<div id="page13_jButton1" class="vjbutton vjbutton_c_style1 btn_font2 border_radius_3">
		<div class="vjbutton_txtR">确认修改</div>
	</div>
</div>

<div id="page13_jPanel3" class="Panel Panel_Null">
	<a href="/" target="_self">
		<div id="page13_jImages3" class="Timage Timage_style1 Timage_auto">
			<img src="/static/images/logo.png" alt="images/logo.png" title=""/>
		</div>
		<map name="page13_jImages3_map" id="page13_jImages3_map">
		</map>
	</a>
	<div id="page13_jPanel5" class="Panel Panel_Null border_radius_5">
		<div id="page13_jLabel7" class="text">
			<a href="/product/manage/" target="_self">商品管理</a>
		</div>
	</div>
	<a href="/user/logout/">
		<div id="page13_jPanel2" class="Panel Panel_Null">
			<div id="page13_jLabel2" class="text">退出登录</div>
		</div>
	</a>
	<div id="page13_jLabel4" class="text">商品信息追溯系统</div>
	<div id="page13_jLabel5" class="text">Product information tracealility system</div>
	<div id="page13_jPanel6" class="Panel Panel_Null">
		<div id="page13_jLabel8" class="text">
			<a href="/user/manage/" target="_self">质检员管理</a>
		</div>
	</div>
</div>
<!--<div id="page13_jLabel10" class="text">ID</div>-->
<!--<div id="page13_jLabel11" class="text">姓名</div>-->
<!--<div id="page13_jLabel16" class="text">名称</div>-->

</body>
<script type="text/javascript" src="/static/js/Timage.js"></script>
</html>
