<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>新增</title>
	<link href="/static/css/jqueryui.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/vjpublic.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/vjpage.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/config.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/static/css/app/product_add.css">
	<script type="text/javascript" src="/static/js/public.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script src="/static/js/app/product_add.js"></script>
</head>
<body data-curpagename="page12" class="body_style1">
<div id="page12_jPanel1" class="Panel Panel_Null">
	<div id="page12_jImages1" class="Timage Timage_style1 Timage_auto">
		<img src="/static/images/76ec2779d016219483a24c57a2fa78adf81d7a0d1042bb-MvnSsL_fw658.png" alt="images/76ec2779d016219483a24c57a2fa78adf81d7a0d1042bb-MvnSsL_fw658.png" title=""/>
	</div>
	<map name="page12_jImages1_map" id="page12_jImages1_map">
	</map>
	<div id="page12_jLabel1" class="text">管理商品信息</div>
	<div id="page12_jMutiText1" class="text">&nbsp;&nbsp;&nbsp;快速管理商品信息，可新增、删除商品，也可对商品信息ID、批次、名称、描述、图片以及相关质检员进行修改、搜索，极大的方便了管理。</div>
</div>

<div id="page12_jPanel3" class="Panel Panel_Null">
	<a href="/" target="_self">
		<div id="page12_jImages3" class="Timage Timage_style1 Timage_auto">
			<img src="/static/images/logo.png" alt="images/logo.png" title=""/>
		</div>
		<map name="page12_jImages3_map" id="page12_jImages3_map">
		</map>
	</a>
	<a href="/user/logout/">
		<div id="page12_jPanel2" class="Panel Panel_Null">
			<div id="page12_jLabel2" class="text">退出登录</div>
		</div>
	</a>
	<div id="page12_jLabel4" class="text">商品信息追溯系统</div>
	<div id="page12_jLabel5" class="text">Product information tracealility system</div>
	<div id="page12_jPanel5" class="Panel Panel_Null border_radius_5">
		<div id="page12_jLabel7" class="text">
			<a href="/product/manage/" target="_self">商品管理</a>
		</div>
	</div>
	<div id="page12_jPanel6" class="Panel Panel_Null">
		<div id="page12_jLabel8" class="text">
			<a href="/user/manage/" target="_self">质检员管理</a>
		</div>
	</div>
</div>


<div id="page12_jPanel4" class="Panel Panel_Null">
	<div id="page12_jLabel3" class="text">新增商品</div>
	<div id="page12_jLabel6" class="text">ID</div>
	<input type="text" class="Edit Edit_style1" value="" id="page12_jEdit1"/>
	<div id="page12_jLabel14" class="text">名称</div>
	<input type="text" class="Edit Edit_style1" value="" id="page12_jEdit7"/>
	<div id="page12_jLabel15" class="text">批次</div>
	<input type="text" class="Edit Edit_style1" value="" id="page12_jEdit6"/>
	<div id="page12_jLabel17" class="text">描述</div>
	<input type="text" class="Edit Edit_style1" value="" id="page12_jEdit8"/>
	<div id="page12_jComboBox1">
		<select name="page12_jComboBox1_select" size="1" id="page12_jComboBox1_select" style="width:inherit">
			<option value="" selected="selected" id="page12_jComboBox1_option1">未分配质检员...</option>
			<!--<option value="" id="page12_jComboBox1_option2">张三</option>-->
		</select>
	</div>
	<div id="page12_jLabel18" class="text">选择图片...<input type="file" id='upload' name="product_image"></div>
	<div id="page12_jButton1" class="vjbutton vjbutton_c_style1 btn_font2 border_radius_3">
		<div class="vjbutton_txtR">保存添加</div>
	</div>
</div>

</body>
<script type="text/javascript" src="/static/js/Timage.js"></script>
</html>
